<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<twintcw>
			<information>
				<version>4.0.62</version>
			</information>
			<shop>
				<alias_management>0</alias_management>
				<await_notification>1</await_notification>
				<external_checkout_account_creation>force_selection</external_checkout_account_creation>
			</shop>
			<logging>
				<level>error</level>
			</logging>
			<general>
				<operation_mode><![CDATA[test]]></operation_mode>
				<merchant_uuid/>
				<certificate_string/>
				<certificate_passphrase/>
				<test_merchant_uuid><![CDATA[ad013fee-a5e8-4de9-ad7d-f3efe0164177]]></test_merchant_uuid>
				<test_certificate_string><![CDATA[-----BEGIN CERTIFICATE-----
			MIIEejCCA2KgAwIBAgIBJzANBgkqhkiG9w0BAQsFADBRMQswCQYDVQQGEwJjaDEe
			MBwGA1UEChMVQWROb3Z1bSBJbmZvcm1hdGlrIEFHMSIwIAYDVQQDExlUV0lOVCBQ
			YXltZW50IEludGVncmF0aW9uMB4XDTE1MDYyNDA2NDE1MloXDTI1MDYyMTA2NDE1
			MlowejELMAkGA1UEBhMCY2gxEjAQBgNVBAoTCUN1c3RvbXdlYjEhMB8GA1UEAxMY
			VFdJTlQtVGVjaFVzZXIgQ3VzdG9td2ViMTQwMgYKCZImiZPyLGQBARMkMGU3Mjhl
			ODgtZGI5Mi00M2E5LWJiZDUtZjNlNDEwYzE1YmEyMIIBIjANBgkqhkiG9w0BAQEF
			AAOCAQ8AMIIBCgKCAQEA+mP9MrAPQzQRpB1tG+kA1OTEuMQbF049dL3W1ptbo0O9
			tzw/jmmRm8FPesage8hUSsZ/yInIwsKCB/8/ApKm+qOZX4kEw0E8aSpcva3dHmHS
			5rr3sNz/ZRk8skyBAlUECpmPKQ/fSMLlZ87rIvW7Y8kodhnL/Y5H+xHmWyhqOMKp
			F2wjUUwQkGnf0x3Hv+yYzt5vHOjKUNOyPSuP9AlIc9dQqYMLCB7EXdncCIDQRcwU
			EbsZ+IU+SOq9zEmYJ3Ztqpih/RP3hdmcrPHAnjM3O9pMtQg6YuXL06IR7/esjsrj
			5RsSIOiyenofeOx3P+3btEVCSE3utxKZyfYuMaanHQIDAQABo4IBMjCCAS4wCQYD
			VR0TBAIwADA/BglghkgBhvhCAQ0EMhYwTmV2aXMgS2V5Qm94IEdlbmVyYXRlZCBD
			ZXJ0aWZpY2F0ZSB1c2luZyBPcGVuU1NMMAsGA1UdDwQEAwIDqDAdBgNVHSUEFjAU
			BggrBgEFBQcDAQYIKwYBBQUHAwIwHQYDVR0OBBYEFOqaltfmWs96xVzJ88wOyDsN
			+7Q1MIGBBgNVHSMEejB4gBSr68zVtfOKkp+Z+ErDlcUgrBpR0KFVpFMwUTELMAkG
			A1UEBhMCY2gxHjAcBgNVBAoTFUFkTm92dW0gSW5mb3JtYXRpayBBRzEiMCAGA1UE
			AxMZVFdJTlQgUGF5bWVudCBJbnRlZ3JhdGlvboIJAOJwo1TeThlPMBEGCWCGSAGG
			+EIBAQQEAwIGwDANBgkqhkiG9w0BAQsFAAOCAQEAeQC3F3Ae9nqzt2VlQMnITY0j
			fEHzP+dfBCOThdNsZUY1Wy4hqtxmFJ8esWp+h9u+zlqXh2dj0BNT1PNI5bmRV/Xf
			vqTNZ7hCnQ1j1y8QaWPAo1koy0jaFRaVJ/u0dSvKtKuQj3Nh2Ba8fdCAlLqNevGc
			HIWDTN9Il8+9cFNuh9X2h9H0wLw1pEjTQ5MdbY6JIG7Lqs0VucZS95rT5vMKZw2H
			dl6BgzsUQ+m18MakLFUMok0BqW6KVDENpLYTrA+Ff8T4WiOdct1rIpzw5aWh4/ow
			iPZcQJ15KoGadVZHFtCUzg7VWFL1B1sQm2M52ydBy1gebLgxvmxsDqXLgAGJLQ==
			-----END CERTIFICATE-----
			-----BEGIN RSA PRIVATE KEY-----
			Proc-Type: 4,ENCRYPTED
			DEK-Info: DES-EDE3-CBC,CEBA99B1C56178D0
			
			XHqDIF781fUmHqh954bV4FMZi2NhAaV8HBV2LJBHJ6LVP3VEcFJyai1nzGClOzhM
			rKEaW0T1OnBV5LK/EPSNIDRZyruluW0GrubrYA8dT8CWkR+Tg+pvr2SUvNX4vagZ
			txBnpv7E97vXGWJokwKqFaJc2meZgq22SBCbc3tqtsFpZNGi2O5/IMEtqvG2txTe
			MhQry53O0Ui4Uwxqkg/rXv0as+zkz54C9m/XC/tTWn3o1l+y+KOTKLx4yv02oycX
			tS9ALLzxn+HS0WdNlHumBvtcqTO5o9hYepJ5JrBb4KFlCwjtDuHCe2DAdcq2IfaV
			nDGgwoHpHmsK5czrjcgiDJBIayQm0N+1o7ye7OgNCeKh4cZLucEoX3I1RpF/9stf
			isA9fjHGq11D7YGPca8MM1Upq+n0OHYc1ZIlHt60koRtL3RkfXhvzsvQyCLllm0N
			hfyEujK9pwjOQVaCO+CmQvAzUaoQwj7D42QPKbXPmIvz91odE/ByqBUFHzNYJ9gq
			qrS9sx6h1vQ4Ghp6VDPW+78N0nZ1Ws9iTr1KGwCTqRUGZ8Mqqgss00jvOoK/xvDy
			Ah5q0SRXQqXWsPvOdSoIs9jK9vfAsoSIZyEz5VRaEoSb/Tln8w61rYoPYbFKYW/L
			cip92iaIsJJZxpWJAufB7IFs02fQV/ZRPqKULEk75tH7cZYBNhEw+CW9rvyWZ7/i
			1MO3Z7SD4haBt93o+T7IDLIgiwTyu/DUbblABI4cJGX+1h0SSj+yvjXdxythFN2R
			rttsFfcgKTyMY5b0c/k4RmswtbkVS64WxxSWC4WYiPoxmZe5dZtmd6LHFs2xdnuQ
			sicCUl0Ynn25eP3D50h0CNa/IP77SzIWiT6C/mqIJLI8CgrL+TGRI/Hs7LT0EXPG
			UZmLN8+7BNNYidPNTmOc+N+Qt3qz2ZxMyQOoA0ZcyMadJr/WhPNQqRM1Tg6SGW1q
			vR1twVnnuV7e6L7T0ri72wt9QrWVSS1hEvJiT7ClksP2cvoOBOKHNA7rwTpI4SJh
			CB/WxfClWNpjjeB4jgSRJuhQ0AbxFkC4w7KR2PqQbTUycBdL2sbnnhrsmS2ZKLpJ
			/V5TrdA/x/LxLlLbvQtFwYqiggcxOiZDqKbZRg1IjQcXnlPDuWVDqy4N62qzlw4m
			7FrercyJaOj/YEoIRx15rMO+xDwYblp91bqYH1G6B9HnS9mv3VvznyKtWnMFUvJm
			nOYom4Oytlne5pmYn4/I4NcOX+0ymKZ2MRjuLX3FdO5hVnilfqGPw0P6b7amEQ97
			8oT1HgGidfDkboQgtYB1oAuggR1B75x30G3tmSvbTNmnbB8zLXV6Zik0TAOqqE1M
			HST38OH/+D5kn2ZUKj5cZet5WuqRMXmPtVVO8fwwl2SdiuZNSW5M8jSVba+tEEZ4
			CBNl0OFoxkTzunXUR/84bujBqcC1fATfoJWlUoqWIAGGwJUFfYTcfRyPZBG6L5Bq
			fuaz5LdN/hC+KrVpMehuj3bzc7Dw6X4rngnlmgAragjaa0L2hFjcbnV1OkWzXm0r
			rDHsoYzAp9CYrgthdVI7RQsSO8ujZed6H3WNHmTdhQB4SiWQIhvHeCQA7jvA+xqJ
			-----END RSA PRIVATE KEY-----
						]]></test_certificate_string>
				<test_certificate_passphrase><![CDATA[XYL5jCxWbwUw8i9mtb5C]]></test_certificate_passphrase>
				<order_id_schema><![CDATA[{id}]]></order_id_schema>
				<poll_timeout_server><![CDATA[30]]></poll_timeout_server>
			</general>
		</twintcw>
		<payment>
			<twintcw_twint>
				<active>0</active>
				<model>Customweb\TwintCw\Model\Payment\Method\Twint</model>
				<payment_action>initialize</payment_action>
				<group>twintcw</group>
				<title><![CDATA[Twint]]></title>
				<description><![CDATA[Pay with Twint]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</twintcw_twint>
		</payment>
	</default>
</config>