@color-petrol: #2F5665;
@color-lime: #A9C23E;

@primary__color: @color-black;
@theme__color__primary-alt: @color-petrol;
@theme__color__secondary: @color-lime;

@font-family__open-sans: 'Open sans', sans-serif;
@font-family__base: @font-family__open-sans;

@header-panel__background-color: @color-lime;
@header-panel__text-color: @color-petrol;

@navigation__background: @color-petrol;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @color-lime;
@navigation-desktop-level0-item__active__color: @color-lime;
@navigation-desktop-level0-item__active__border-width: 0px;

.header.panel {
    > .header.links {
        > li {
            > a {
                text-decoration: underline;
            }
        }
    }
}