@color-petrol: #2F5665;
@color-lime: #A9C23E;
@color-lime-hover: darker(@color-lime, 5%);

@primary__color: @color-black;
@theme__color__primary: @color-petrol;
@theme__color__primary-alt: @color-petrol;
@theme__color__secondary: @color-lime;

@font-family__open-sans: 'Open sans', sans-serif;
@font-family__base: @font-family__open-sans;

@header__background-color: @color-petrol;
@header-icons-color: @color-lime;
@header-icons-color-hover: @color-lime-hover;

@header-panel__background-color: @color-white;
@header-panel__text-color: @color-petrol;

@navigation__background: @color-white;
@navigation-desktop-level0-item__color: @color-petrol;
@navigation-desktop-level0-item__hover__color: @color-lime;
@navigation-desktop-level0-item__active__color: @color-lime;
@navigation-desktop-level0-item__active__border-width: 0px;
@navigation-desktop__font-size: 2rem;
@navigation-desktop-level0-item__margin: 0 @indent__base 0 0;

@submenu-desktop-item__active__color: @color-lime;
@submenu-desktop__font-size: 1.6rem;

@form-element-input__color: @color-petrol;
@form-element-input-placeholder__color: lighter(@color-petrol, 10%);

@footer__background-color: @color-petrol;
@footer-links-color: @color-white;
@footer-links-color-hover: @color-lime;

@copyright__background-color: @color-lime;

@addto-color: @color-lime;

@contentMaxWidth: 1170px;
@contentPadding: 15px;