
@color: #4f4d4d;

body {
    color: @color;
}

.page-header.type17 {
    background-color: #ffffff;
}

.page-header.type17 .block-search input {
    background-color: #eeeeee;
}

.page-header.type17 .block-search .action.search {
    border-left: 2px solid #ffffff;
}